.danger {
  background-color: var(--accent-danger);
}

.success {
  background-color: var(--accent-success);
}

.menu-item {
  background-color: transparent;
  box-shadow: none;
  color: black;
}

.menu-item:hover {
  color: var(--accent);
}