div {
  width: fit-content;
  height: fit-content;
  border: 0;
  border-radius: 10em;
  padding: 8px 14px;
  font-weight: 400;
  transition: all 200ms ease;
  box-shadow: var(--box-shadow-1);
  color: white;
  background-color: var(--accent);
  filter: saturate(0) brightness(1.5);
}

div:hover {
  filter: saturate(1) brightness(1);
}

.active {
  filter: saturate(1);
}